/* :root {
  --bs-light-rgb: #f1f0e9;
  --bs-body-bg: #f1f0e9;
}

.dropdown-menu {
  --bs-dropdown-link-hover-bg: #f7f4dd;
} */

.table {
  --bs-table-bg: rgb(222, 221, 217);
  --bs-table-border-color: white;
}
