:root {
  --bs-light-rgb: 228, 228, 240;
  --bs-body-bg: rgb(228, 228, 240);
  --bs-border-color: white;
}

.dropdown-menu {
  --bs-dropdown-link-hover-bg: rgb(190, 195, 213);
}
/*
body {
  background-image: url("/v880-techi-04-a.jpg");
  background-size: cover;
  min-height: 80vh;
}
*/
.table {
  --bs-table-bg: rgba(212, 213, 232, 1);
  --bs-table-border-color: white;
  border-radius: 6px;
  overflow: hidden;
}

.form-check {
  padding-left: 0em;
}

.form-check .form-check-input {
  float: none;
  margin-left: 0.5em;
}

.card {
  --bs-card-cap-bg: var(--bs-body-color-rgb);
}

div.row > div.card {
  padding-left: 0px;
  padding-right: 0px;
}

img.rctv-img-lg {
  max-height: 515px;
}
